.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.vscode
.idea
*.sqlite3
*.log
*.csv
*.tsv
data/
!data/processed/
!data/models/
.ipynb_checkpoints
.DS_Store
*.pth
*.pt
*.bin
*.egg-info
dist/
build/
